@{
    ViewBag.Title = "Om Applikationen";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Lexicons LMS, Lärplattform är skapad för:</p>
<p> Lärare ska kunna administrera schema, grupper, kurser, aktiviteter och användare.</p>
<p> Elever ska se  information om sin grupp, gruppmedlemmar, sina kurser och aktiviteter.</p>
