@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lexicon<br />
    Årstängsvägen 9<br />
    117 43 Stockholm<br />
    
</address>

<address>
    <strong>E-Post</strong>   <a href="mailto:Lexicon@example.com">Lexicon@example.com</a><br />
   
</address>