@{
    ViewBag.Title = "Glömt löseordsbekräftelse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vänligen kolla din E-post för att återställa ditt lösenord.
    </p>
</div>
	
