@model IEnumerable<LearningManagementSystem.Models.Group>

@{
    ViewBag.Title = "Faultydelete";
}

<h2>Faultydelete</h2>

---------@{
    string message = "fel";
   
    {
        <div class="message">
            <p>@message</p>
        </div>
    }
}